<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<h3 th:hidden="${!pointPassages.isEmpty()}">Aucun point de passage pour l'instant</h3>
	<table>
    <tr th:each="pointPassage : ${pointPassages}">
       <td th:text="${pointPassage.getNom()}"></td>
       <td th:text="${pointPassage.getLatitude()}"></td>
       <td th:text="${pointPassage.getLongitude()}"></td>
       <td th:text="${pointPassage.getDescription()}"></td>
    </tr>
    </table>
</body>
</html>