<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <p th:each="customer : ${customers}">
       <span th:text="${customer.getId()}"></span>&nbsp;&nbsp;&nbsp;
       <span th:text="${customer.getFirstName()}"></span>&nbsp;&nbsp;&nbsp;
       <span th:text="${customer.getLastName()}"></span>
    </p>
</body>
</html>